.hidden {
  display: none;
  visibility: hidden;
} 

.alturaFooter{
	height:75px;
	background-color:#337180;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.letraBlanca{
	color:white;
}

.logo{
	padding: 0px 0px !important;
}

a{
	color:white;
}

.navBarColor{
	background-color:#337180 !important;
}

.blancoColor .icon-bar{
	background-color: white !important;
}

.heightAuto{
	height:auto !important;
}

